<% arrProductos.forEach(function(producto){ %>  
    <tr>  
      <td><%= producto.id %></td>  
      <td><%= producto.nombre %></td>   
      <td><%= producto.nickname %></td>  
    </tr>  
  <% }); %>  